<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShrinkURL | Shrink your URLs</title>
  </head>
  <body>
    <div class="container">
      <h1 class="my-5"><i class="fas fa-link"></i> ShrinkURL</h1>
      <form action="/shortUrls" method="POST" class="my-5 form-inline">
        <label for="fullURL" class="sr-only">URL</label>
        <input
          required
          value="https://"
          type="url"
          name="fullURL"
          id="fullURL"
          class="form-control mr-2 col"
        />
        <button type="submit" class="btn btn-success">Shrink</button>
      </form>
      <h5>Shrinked URLs</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Full URL</th>
            <th>ShrinkURL</th>
            <th><i class="fas fa-mouse"></i> Clicks</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td>
              <a href="<%= shortUrl.full %>" target="_blank"
                ><%= shortUrl.full %></a
              >
            </td>
            <td>
              <a href="<%= shortUrl.short %>" target="_blank"
                ><%= shortUrl.short %></a
              >
            </td>
            <td><%= shortUrl.clicks %></td>
            <td>
              <%= moment(shortUrl.createdAt).format('MM-DD-YYYY HH:MM') %>
            </td>
          </tr>
          <% }) %>
        </tbody>
        <tfoot>
          <tr>
            <span class="text-muted">Showing last 5 shrinked URLs</span>
          </tr>
        </tfoot>
      </table>
    </div>
    <footer class="footer mt-5">
      <div class="container">
        <span class="text-muted"
          >&copy; 2020
          <a href="https://www.kevines.tech" target="_blank">kevines.tech</a> |
          Kevin Soester</span
        >
      </div>
    </footer>
  </body>
</html>
